
:root {
    --demon1: #6F2DBD;
    --demon2: #A663CC;
    --demon3: #B298DC;
    --demon4: #B8D0EB;
    --demon5: #B9FAF8;
    --background: #222021;
  }

body {
    background-color: var(--background);
    color: var(--demon5);
    font-family: "Poppins", sans-serif;
}

.demoncard {
  background-color: var(--demon2);
  border-radius: 5px;
  border: 2px solid var(--demon2);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--demon1);
  }
  
#navbar li {
    float: left;
  }
  
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: var(--demon3);
    text-decoration: none;
    color: var(--demon1);
  }

#navbar .active {
    background-color: #04AA6D;
  }

.hero {
    margin:10px;
}
#top_double_section {
    display: flex;
    align-items: center;
}
#left_image {
    align-items: left;
    margin: 25px;
}

#right_description {
    flex: 1;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px
}

#card {
    position: relative;
    overflow: hidden;
    margin: 15px;
    
  }
  
  #card img {
    width: 300;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
  }
  
  #card:hover img {
    transform: scale(1.3);
  }
  
  #card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  #card img :hover.overlay {
    opacity: 1;
  }
  